In [2]:
import pandas as pd

In [3]:
x = pd.read_csv("world bank.csv")

In [4]:
x.head(7)

,Country Name,Country Code,Region,IncomeGroup,Year,"Birth rate, crude (per 1,000 people)","Death rate, crude (per 1,000 people)",Electric power consumption (kWh per capita),GDP (USD),GDP per capita (USD),Individuals using the Internet (% of population),"Infant mortality rate (per 1,000 live births)",Life expectancy at birth (years),Population density (people per sq. km of land area),Unemployment (% of total labor force) (modeled ILO estimate)
0,Afghanistan,AFG,South Asia,Low income,2018,NaN,NaN,NaN,1.936300e+10,520.897,NaN,47.9,NaN,56.9378,1.542
1,Afghanistan,AFG,South Asia,Low income,2017,33.211,6.575,NaN,2.019180e+10,556.302,13.50000,49.5,64.130,55.5960,1.559
2,Afghanistan,AFG,South Asia,Low income,2016,33.981,6.742,NaN,1.936260e+10,547.228,11.20000,51.2,63.763,54.1971,1.634
3,Afghanistan,AFG,South Asia,Low income,2015,34.809,6.929,NaN,1.990710e+10,578.466,8.26000,53.1,63.377,52.7121,1.679
4,Afghanistan,AFG,South Asia,Low income,2014,35.706,7.141,NaN,2.048490e+10,613.856,7.00000,55.1,62.966,51.1148,1.735
5,Afghanistan,AFG,South Asia,Low income,2013,36.670,7.380,NaN,2.056110e+10,637.165,5.90000,57.3,62.525,49.4280,1.725
6,Afghanistan,AFG,South Asia,Low income,2012,37.690,7.645,NaN,2.000160e+10,641.872,5.45455,59.5,62.054,47.7306,1.692

In [18]:
x.shape

(12449, 15)

In [5]:
input_data = x.iloc[:,:-1]

In [8]:
output_data = x["Unemployment (% of total labor force) (modeled ILO estimate)"]

In [11]:
from sklearn.model_selection import train_test_split

In [12]:
x_train , x_test , y_train , y_test = train_test_split(input_data , output_data , test_size=0.25)

In [20]:
x_train.shape

(9336, 14)

In [21]:
x_test.shape

(3113, 14)

In [22]:
y_test.shape

(3113,)

In [24]:
y_train.shape

(9336,)