In [2]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [8]:
dataset = pd.read_csv("decison_dataset.csv")

In [9]:
dataset.head()

   Age  E_salary  placement
0   19     23000          0
1   25     24000          0
2   27     26000          1
3   24    120000          1
4   18     29000          0

In [12]:
x = dataset.iloc[:,:-1]
y = dataset["placement"]